<head>
  <title>Bet History | Bet On It</title>
</head>

<div class="header-bet-history">
  <div class="bet-info">
    <p>Total Bets: </p>
    <h3> <%= current_user.bet_users.all.size %></h3>
    <p>Longest Parlay: </p>
    <h3> 6 </h3>
  </div>
  <div class="bet-info">
    <p>Total Parlays: </p>
    <h3><%= current_user.parlays.size %></h3>
    <p>Total Wins: </p>
    <h3> <%= @wins.size %> </h3>
  </div>
</div>
<% @parlays.each do |parlay| %>
  <% if( !parlay.today?) %>
    <%= link_to parlays_show_path(parlay) do %>
      <div class="summary">
        <div class="date-col">
        <%  if (parlay.prize > 0) %>
          <p class ="win"> <%= (parlay.date.strftime('%d %b %Y') + " - WIN") %> </p>
          <p> <%=  parlay&.bets&.size.to_s %> Bet Parlay </p>
        <% else %>
          <p class ="loss"> <%= (parlay.date.strftime('%d %b %Y') + " - LOSS") %> </p>
          <p> <%= parlay&.bets&.size.to_s %> Bets </p>
        <% end %>
        </div>
        <div class="details-col">
          <p><em>View Details</em></p>
        </div>
      </div>
    <% end %>
  <% elsif(parlay.bets&.size > 0) %>
    <%= link_to slip_path do %>
      <div class="summary2">
        <div class="" >
          <p class ="loss"> <%= (parlay.date.strftime('%d %b %Y') + " - IN PROGRESS") %> </p>
          <p><em>View Details</em></p>

        </div>
        <div class="" >
          <p> <%=  parlay&.bets&.size.to_s %> Bets </p>
        </div>
    </div>

    </div>
    <% end %>
  <% end %>
<% end %>



<a href="/sport" >
 <div class = "betnow">
  Back to sports page
</div>




