<head>
  <title>Bet History | Bet On It</title>
</head>

  <div class="header-bet-history">
      <div class="bet-info">
        <p>Total Bets: </p>
        <h3> <%= current_user.bet_users.all.size %></h3>
        <p>Longest Parlay: </p>
        <h3> 6 </h3>
      </div>
      <div class="bet-info">
        <p>Total Parlays: </p>
        <h3><%= current_user.parlays.size %></h3>
        <p>Total Wins: </p>
        <h3> <%= @wins.size %> </h3>
      </div>
  </div>
    <div class="summary">
    <% @parlays.each do |parlay| %>
      <%  if (parlay.prize > 0) %>
        <%= link_to (parlay.date.strftime('%d %b %Y') + " - WIN") , parlays_show_path(parlay), class: "win" %>
        <p> <%=  @parlay&.bets&.size.to_s %> Bet Parlay </p>
       <% else %>
        <%= link_to (parlay.date.strftime('%d %b %Y') + " - LOSS") , parlays_show_path(parlay), class: "loss" %>
        <p> <%=  @parlay&.bets&.size.to_s %> Bet Parlay </p>
       <% end %>
    <% end %>
    </div>



  <a href="/sport" >
   <div class = "betnow">
      Back to sports page
    </div>




