<head>
  <title>Bet History | Bet On It</title>
</head>

<body style="background-color: #E3E3E3">


  <div class="header-bet-history">
      <div class="bet-info">
        <p>Total Bets: </p>
        <h3> <%= current_user.bet_users.all.size %></h3>
        <p>Longest Parlay: </p>
        <h3> 6 </h3>
      </div>
      <div class="bet-info">
        <p>Total Parlays: </p>
        <h3><%= current_user.parlays.size %></h3>
        <p>Total Wins: </p>
        <h3> <%= @wins.size %> </h3>
      </div>
  </div>

    <div class="parlay-info">
      <%  if (@parlay.prize > 0) %>
        <%= link_to (@parlay.date.strftime('%d %b %Y') + " - WIN") , parlays_index_path, class: "loss" %>
        <p> <%=  @parlay&.bets&.size.to_s %> Bet Parlay </p>
       <% else %>
        <%= link_to (@parlay.date.strftime('%d %b %Y') + " - LOSS") , parlays_index_path, class: "loss" %>
        <p> <%=  @parlay&.bets&.size.to_s %> Bet Parlay </p>
      <% end %>
    </div>


    <div class="cards-container">
      <% @parlay.bets.each do |bet|  %>
      <div class="card">
        <div class="card-state" id= <%= (bet.correct?) ? "green-card" : "red-card" %> ></div>

        <div class="top-column">
        <div class="time-score">

          <p> <%= bet.event.starts_at.strftime('%k:%M') + " " + "CET" + " - " + "Result: "  + bet.event.scraped_score.to_s %> </p>
          <p class = <%= (bet.event.status == "In Progress" ? "red-text" : "black-text") %> - <%=  bet.event.scraped_score %>> </p>
        </div>
          <div class="bet-outcome">
            <b> <%= (bet.correct?) ? "Outcome: Win" : "Outcome: Loss" %> </b>
          </div>
        </div>
        <div class="info-container">
          <div class="team-a">
            <p> <%= bet.event.scraped_score&.gsub("-"," : ").to_s  %> </p>
            <p><%= bet.event.team_a.name.titleize %> vs <%= bet.event.team_b.name.titleize %> </p>
          </div>
          <div class="your-bet" >
            <p id= <%= (bet.correct?) ? "green--text" : "red--text" %>>Your bet: <%= bet.team.name.titleize %></p>
          </div>
        </div>
      </div>
      <% end %>
    </div>
</div>

<div class="white-blur">
  <%= link_to url_for(:back) do %>
    <i class="fas fa-chevron-left" id="btn-back" ></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-chevron-left" id="btn-up"></i>
  <% end %>
</div>
<div class="bottom-margin"></div>


</body>
