<head>
  <title>Sports | Bet On It</title>
</head>

<body style="background-color: #061124">



<div class = "container-fluid">
 <div class = "header">

    <h1>Daily Pot: $5</h1>
    <h4>Select a sport to start betting</h4>
  </div>
  <% if !@error.nil? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= @error %>
  </div>
  <% end %>

  <div class = "row">
    <% @sports.each do |sport| %>
      <%=link_to events_path(sport: sport.name) do %>
        <div class="col-xs-12 col-sm-6">
          <div class="card-sport icon"  style="background-image: linear-gradient(rgba(6,18,35,0.35),
      rgba(0,0,102,0.2)), url('<%= image_url sport.name.downcase %>');">
            <%=  sport.name %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>



<% if (@parlays&.bets&.size.to_i > 0) %>
  <div class="bottom-margin"></div>
  <div class="white-blur"></div>
  <%= link_to "Bet Slip: " + @parlays&.bets&.size.to_s, slip_path,class: "bfixed bet-slip" %>
<% end %>
</body>
<%# final end%>



