<head>
  <title>Bet Slip | Bet On It</title>
</head>

<body style="background-color: #E3E3E3">


<div class="parlay-wrapper">

 <% if(@bets&.size == 0)  %>
 <a href="/sport" >

   <div class = "betnow">
     Start betting!
   </div>

   <% else %>


   <div class="bet-slip-title" >
     <h6>Your bets have automatically been saved.
       <br>
     <p> You can still add, edit, or cancel any bets in your parlay that haven't yet started.</p>
   </div>

   <div class = "parlay-info">
     <p> <%=  DateTime.now.in_time_zone("CET").strftime('%d %b %Y') %> </p>
     <p> <%=  @bets&.size.to_s %> Bets </p>
   </div>


     <% @bets&.each do |bet|  %>
     <div class="card">
       <div class="top-column">
         <div class="time-score">
           <p id= "date-margin"><%=  bet.event.cet_date.strftime('%l:%M %p') %> CET  </p>
             <% formated_score =  bet.event.scraped_score.to_s %>
             <% if(formated_score != "") %>
                 <% formated_score = (bet.event.status == "In Progress" ? " - Live score: " : " - Result: ") + bet.event.scraped_score  %>
             <% end %>
           <p class = <%= (bet.event.status == "In Progress" ? "red-text" : "black-text") %>>
             <%= formated_score %> </p>
         </div>
          <% if (bet.event.status == "Scheduled" && !bet.event.started?) %>
            <div class="control-container">
              <div class="cancel-bet">
                  <%= link_to "", destroy_from_bet_slip_path(id: bet.id), class: "fas fa-times"%>
              </div>
              <div class="edit-bet">
                  <%= link_to "", events_path(sport: bet.event.event_date.sport.name, anchor: "bet_" +bet.event.id.to_s ), class: "fas fa-pencil-alt"%>
              </div>
            </div>
          <% end %>
       </div>
         <div class="info-container">
           <div class="team-a">
             <p><%= bet.event.team_a.name.titleize %> vs. </p>
           </div>
           <div class="team-b">
             <p><%= bet.event.team_b.name.titleize %></p>
           </div>
           <div class="your-bet">
              <p><%="Your bet: " + bet.team.name.titleize %></p>
           </div>
         </div>
     </div>
     <% end %>
   </div>
  <% end %>

<div class="white-blur">
  <%= link_to url_for(:back) do %>
    <i class="fas fa-chevron-left" id="btn-back" ></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-chevron-left" id="btn-up"></i>
  <% end %>
</div>
<div class="bottom-margin"></div>
<%= link_to "Sport Page", sport_path ,class: "bfixed bet-slip" %>
     <!-- ending Div for Parlay-Wrapper -->

</body>
