<div class="parlay-wrapper">
  <% if(@parlay.bets&.size == 0)  %>
     <a href="/sport" >
         <div class = "betnow">
    Start betting!
  </div>
  <% else %>

  <h3 class="bet-slip-title">Review or cancel your current bets</h3>

    <% @parlay.bets.each do |bet|  %>
      <div class="bet-wrapper">
        <div class="bet-container">

          <div class="game-info">

            <p>Starting At:<%=  bet.event.starts_at.strftime('%l:%M %p') %></p>

            <p class = <%= (bet.event.status == "In Progress" ? "red-text" : "black-text") %> >
              <%=  bet.event.scraped_score %>
            </p>
          </div>

          <div class="team-container">
            <p class = <%= (bet.event.team_a == bet.team ? "green-text" : "black-text") %> >
              <%= bet.event.team_a.name.capitalize %>
            </p>

            <p class="divider">|</p>

            <p class = <%= (bet.event.team_b == bet.team ? "green-text" : "black-text") %> >
              <%= bet.event.team_b.name.capitalize %>
            </p>

            <p class="divider">|</p>


            <p class = <%= (Team.find_by(name: "TIE") == bet.team ? "green-text" : "black-text") %> >
              <%= Team.find_by(name: "TIE").name %>
            </p>

          </div>
        </div>

        <div class="container-cancel">
          <div style= "">
            <%= link_to "", post_bet_path(event: bet.event,destroy: true), class:"fas fa-times" %>
          </div>
        </div>
      </div>
    <% end %>
          <a href="/sport" >
         <div class = "betnow">
            Back to sports page
  <% end %>
</div>
