<body style="background-color: #E3E3E3">


<div class="parlay-wrapper">

  <% if(@parlay.bets&.size == 0)  %>
  <a href="/sport" >

    <div class = "betnow">
      Start betting!
    </div>

    <% else %>


    <div class="bet-slip-title" >
      <h6>Your bets have automatically been saved. You can still add bets to your parlay or cancel any events that haven't yet started. </h6>
    </div>

    <div class = "summary">
      <p> <%=  Date.today.strftime('%d %b %Y') %> </p>
      <p> <%=  @parlay&.bets&.size.to_s %> - Bet Parlay </p>
    </div>


    <div class="cards-container">
      <% @parlay.bets.each do |bet|  %>
      <div class="card">
        <div class="top-column">
        <div class="time-score">
          <p> <%=  Date.today.strftime('%d %b %Y') %> </p>
          <p class = <%= (bet.event.status == "In Progress" ? "red-text" : "black-text") %>
            <%=  bet.event.scraped_score %>> </p>
        </div>
          <div class="cancel-bet">
            <% if (bet.event.status == "Scheduled") %>
            <%= link_to "", destroy_from_bet_slip_path(id: bet.id), class: "fas fa-times"%>
            <% end %>
          </div>
        </div>
          <div class="team-a">
            <p><%= bet.event.team_a.name.capitalize %> vs. </p>
          </div>
          <div class="team-b">
            <p><%= bet.event.team_b.name.capitalize %></p>
          </div>
          <div class="your-bet">
            <p>Your bet: <%= bet.team.name.capitalize %></p>
          </div>
      </div>
      <% end %>
    </div>




      <!-- ending Div for Bet-Wrapper -->

      <a href="/sport" >
       <div class = "betnow">
        Back to sports page
        <% end %>
      </div>
      <!-- ending Div for Parlay-Wrapper -->

    </div>
</body>
