<body style= "background-color: #061223" >
 <div class = "header">
  <div class = "header-title">
    <h1>Daily Pot: $1,000</h1>
    <h4>Select teams to build your parlay</h4>
  </div>
 </div>
<div class="container-events">

    <% counter = 1 %>
    <% last_league = " " %>

    <% @events.each do |event| %>
      <% if(last_league != event.league) %>
        <% if(last_league != " ") %>
          </div>
        <% end %>
        <% counter = 1  %>
        <div class = "league-container" >
          <p class = "league-name"> <%= event.league.capitalize %> </p>
          <hr>
        <% last_league = event.league %>
      <% end %>
        <div class=  <%=  counter%2 == 0 ? "event-card-white" : "event-card-grey" %> >
          <h5 id= <%= event.id %> > <%= event.team_a.name.capitalize %> vs <%= event.team_b.name.capitalize %> </h5>
          <p class="date-time"> <%= event.starts_at.strftime('%l:%M %p - %m/%e/%y') %> </b>
          <% bet = @bets.find_by(event: event) %>
          <div class="bet-button-wrapper"
               id='<%= "event_#{event.id}" %>'
          >
            <%= render "events/bet_buttons", event: event, tie: @tie, sport: @sport, bet: bet %>
          </div>
        </div>
      <% counter += 1 %>
    <% end %>
  </div>

</div>
<div class="white-blur">
  <%= link_to sport_path do %>
    <i class="fas fa-chevron-left" id="btn-back" ></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-chevron-left" id="btn-up"></i>
  <% end %>


</div>
<div class="bottom-margin"></div>
<div class="green-tab"></div>
<%= link_to "Bet Slip: " + @parlay&.bets&.size.to_s, slip_path,class: "bfixed bet-slip" %>

</body>


