<head>
  <title><%= @sport.name.titleize %> | Bet On It</title>
</head>

<body style= "background-color: #061223" >
 <div class = "header">
  <div class = "header-title">
    <h1>Daily Pot: $5</h1>
    <h4>Select teams to build your parlay</h4>
  </div>
 </div>
 <div class="league-filter">
  <%= form_tag(events_path(sport: @sport.name), method: "get") do %>
    <%= label_tag("Search by league:") %>
    <%= hidden_field_tag :sport , @sport.name %>
    <%= select_tag 'league', options_for_select(@leagues_playing.collect{ |u| [u.titleize, u] },@leagues_playing.first.titleize ), :onchange => "this.form.submit();" %>
  <% end %>

</div>
<div class="container-events">
    <% last_league = " " %>

    <% @events.each do |event| %>
      <% if(last_league != event.league) %>
        <% if(last_league != " ") %>
          </div>
        <% end %>
        <% counter = 1  %>
        <div class = "league-container" id = "<%= event.league %>" >
          <p class = "league-name"> <%= event.league.titleize %> </p>
          <hr>
        <% last_league = event.league %>
      <% end %>
        <div class= "event-card-grey">
          <h5 id= <%="bet_"+event.id.to_s %> > <%= event.team_a.name.titleize %> vs <%= event.team_b.name.titleize %> </h5>
          <p class="date-time"> <%= event.cet_date.strftime('%l:%M %p - %m/%e/%y') %> </b>
          <% bet = @bets.find_by(event: event) %>
          <div class="bet-button-wrapper"
               id='<%= "event_#{event.id}" %>'
          >
            <%= render "events/bet_buttons", event: event, tie: @tie, sport: @sport, bet: bet %>
          </div>
        </div>
    <% end %>
  </div>

</div>
<div class="white-blur">
  <%= link_to sport_path do %>
    <i class="fas fa-chevron-left" id="btn-back" ></i>
  <% end %>
  <%= link_to "#" do %>
    <i class="fas fa-chevron-left" id="btn-up"></i>
  <% end %>


</div>
<div class="bottom-margin"></div>
<%= link_to "Bet Slip: " + @parlay&.bets&.size.to_s, slip_path,class: "bfixed bet-slip",id: "betslip" %>

</body>


