<div class="container">
  <div class="header">
  <h1><%= @events[0].sport.name.capitalize %></h1>
  </div>
  <div class="row">
    <% @events.each do |event| %>
    <div class="col-xs-12">
      <div class="card event-card">


        <p class="league-name" id = <%=event.id%> ><b> <%= event.league %> </b></p>
            <% bet = @bets.find_by(event: event) %>

            <div class="bet-button-wrapper">

            <%= link_to event.team_a.name.truncate(10), post_bet_path(event: event,winner: event.team_a,sport: params["sport"]),
              :class => (!bet.nil? && !bet.team.nil? && bet.team == event.team_a ? "bet-active" : "bet-default") %>
            <%= link_to event.team_b.name.truncate(10), post_bet_path(event: event,winner: event.team_b, sport: params["sport"]),
              :class => (!bet.nil? && !bet.team.nil? && bet.team == event.team_b ? "bet-active" : "bet-default") %>
            <% if(@events[0].sport.name == "soccer")%>
              <%= link_to "Draw".truncate(10), post_bet_path(event: event,winner: nil, sport: params["sport"]),
              :class => (!bet.nil? && bet.team.nil? ? "bet-active" : "bet-default") %>
            <% end %>
            </div>

            <hr>

            <br>


        </div>

      </div>
    <% end %>
    </div>
  </div>
</div>
