<div class="events-header-wrapper">
  <h1><%= @events[0].sport.name.capitalize %></h1>
</div>

<div class="container">

  <div class="row">
    <% counter = 0 %>
    <% @events.each do |event| %>
    <div class="col-xs-12">
      <div class=  <%=  counter%2 == 0 ? "event-card-white" : "event-card-grey" %> >


        <p class="league-name" id = <%=event.id%> ><b> <%= event.league %> </b></p>
            <% bet = @bets.find_by(event: event) %>

            <div class="bet-button-wrapper">

            <%= link_to event.team_a.name.truncate(20), post_bet_path(event: event,winner: event.team_a,sport: params["sport"]),
              :class => (!bet.nil? && !bet.team.nil? && bet.team == event.team_a ? "bet-active" : "bet-default") %>
            <%= link_to event.team_b.name.truncate(20), post_bet_path(event: event,winner: event.team_b, sport: params["sport"]),
              :class => (!bet.nil? && !bet.team.nil? && bet.team == event.team_b ? "bet-active" : "bet-default") %>
            <% if(@events[0].sport.name.downcase == "soccer")%>
              <%= link_to "Draw".truncate(20), post_bet_path(event: event,winner: Team.find_by(name: "TIE"), sport: params["sport"]),
              :class => (!bet.nil? && bet.team == Team.find_by(name: "TIE") ? "bet-active" : "bet-default") %>
            <% end %>
            </div>

        </div>

      </div>
      <% counter += 1 %>
      <% end %>
    </div>
  </div>
  <div class="bfixed bet-slip">
    <%= link_to "Bet Slip", slip_path %>
  </div>
</div>


